ul {
  margin: 0;
  padding: 0;
}
aside ul li {
   list-style: none;
   padding: 15px 10px;
   margin-bottom: 5px;
   border-radius: 5px; 
   background-color: #f2f2f2;
}
aside ul li:hover, ul li:focus{
  background-color: #57bbb5;
}
h2 {
   border-bottom: 5px solid #57bbb5;
   text-align: center;
}
.done-true {
text-decoration: line-through;
color: grey;
}
form input, textarea{
  width: 100%;
  margin: 5px 0;
}